In [11]:
import numpy as np
import pandas as pd

In [12]:
FOLDER = 'data/'

In [13]:
n_train = 1000
n_test = 100

for scale in [0.1,1,10,100]:
    train_name = FOLDER+"exp1_data_train_"+str(scale)
    test_name = FOLDER+"exp1_data_test_"+str(scale)

    train_name_s = FOLDER+"exp1_data_train_s_"+str(scale)
    test_name_s = FOLDER+"exp1_data_test_s_"+str(scale)

    var_count = 4
    
    variables = np.array([0.5,0.2,0.8,0.1])

    f = lambda var: var@np.array([[3,1,4,3]]).T

    variable_names = ['one','two','three','four']

    to_add = np.random.rand(n_train,var_count)*100
    noise = np.tile(variables,(n_train,1))*scale

    values = np.array([
        [np.random.normal(0,noise[row,col]) for col in range(var_count)]
    for row in range(n_train)]) + to_add

    values = np.hstack([values,f(to_add)])

    train_data = pd.DataFrame(values,columns=variable_names+['y'])
    train_data.to_csv(train_name+'.csv',index=False)
    train_data_s = pd.DataFrame(noise,columns=variable_names)
    train_data_s.to_csv(train_name_s+'.csv',index=False)


    to_add = np.random.rand(n_test,var_count)*100
    noise = np.tile(variables,(n_test,1))*scale

    values_test = np.array([
        [np.random.normal(0,noise[row,col]) for col in range(var_count)]
    for row in range(n_test)]) + to_add

    values_test = np.hstack([values_test,f(to_add)])

    test_data = pd.DataFrame(values_test,columns=variable_names+['y'])
    test_data.to_csv(test_name+'.csv',index=False)
    test_data_s = pd.DataFrame(noise,columns=variable_names)
    test_data_s.to_csv(test_name_s+'.csv',index=False)
test_data.head()

         one        two       three       four           y
0  41.927569  13.317846   -4.712495  21.710264  387.152958
1  22.739090  72.255663   55.693837  -6.528312  619.192688
2  12.547110  68.730148  130.278435  85.982266  964.408208
3  35.908975  11.573209   83.451698  15.524885  468.274513
4  20.919855  77.350608  -19.967459   3.188553  260.962010

In [14]:
n_train = 1000
n_test = 100

for scale in [0.1,1,10,100]:
    train_name = FOLDER+"exp3_data_train_"+str(scale)
    test_name = FOLDER+"exp3_data_test_"+str(scale)
    
    train_name_s = FOLDER+"exp3_data_train_s_"+str(scale)
    test_name_s = FOLDER+"exp3_data_test_s_"+str(scale)
    
    var_count = 4

    variables = np.array([0.5,0.2,0.8,0.1])

    f = lambda var: var@np.array([[3,1,4,3]]).T

    variable_names = ['one','two','three','four']

    to_add = np.random.rand(n_train,len(variables)-1)
    to_add = np.hstack([to_add,to_add[:,-1,None]])*100
    noise = np.tile(variables,(n_train,1))*scale
    values = np.array([
        [np.random.normal(0,noise[row,col]) for col in range(var_count)]
    for row in range(n_train)]) + to_add

    values = np.hstack([values,f(to_add)])

    train_data = pd.DataFrame(values,columns=variable_names+['y'])
    train_data.to_csv(train_name+'.csv',index=False)
    train_data_s = pd.DataFrame(noise,columns=variable_names)
    train_data_s.to_csv(train_name_s+'.csv',index=False)

    to_add = np.random.rand(n_test,len(variables)-1)
    to_add = np.hstack([to_add,to_add[:,-1,None]])*100
    noise = np.tile(variables,(n_test,1))*scale
    values_test = np.array([
        [np.random.normal(0,noise[row,col]) for col in range(var_count)]
    for row in range(n_test)]) + to_add

    values_test = np.hstack([values_test,f(to_add)])

    test_data = pd.DataFrame(values_test,columns=variable_names+['y'])
    test_data.to_csv(test_name+'.csv',index=False)
    test_data_s = pd.DataFrame(noise,columns=variable_names)
    test_data_s.to_csv(test_name_s+'.csv',index=False)
test_data.head()

         one        two       three       four           y
0  33.208323  79.718550    8.740666  92.630727  938.819785
1  17.494781  22.392271  115.611830  72.045889  712.649735
2  46.125147  14.023281   30.633445  91.937510  776.467061
3  10.561197  80.317669  182.922185  47.202773  665.509025
4 -75.133909  84.379077  123.610341  69.041705  623.983482

In [15]:
n_train = 1000
n_test = 100

for scale in [0.1,1,10,100]:
    train_name = FOLDER+"exp4_data_train_"+str(scale)
    test_name = FOLDER+"exp4_data_test_"+str(scale)

    train_name_s = FOLDER+"exp4_data_train_s_"+str(scale)
    test_name_s = FOLDER+"exp4_data_test_s_"+str(scale)

    var_count = 4

    f = lambda var: var@np.array([[3,1,4,3]]).T

    variable_names = ['one','two','three','four']

    to_add = np.random.rand(n_train,var_count)*100
    noise = np.random.rand(n_train,var_count)*scale

    values = np.array([
        [np.random.normal(0,noise[row,col]) for col in range(var_count)]
    for row in range(n_train)]) + to_add

    values = np.hstack([values,f(to_add)])

    train_data = pd.DataFrame(values,columns=variable_names+['y'])
    train_data.to_csv(train_name+'.csv',index=False)
    train_data_s = pd.DataFrame(noise,columns=variable_names)
    train_data_s.to_csv(train_name_s+'.csv',index=False)


    to_add = np.random.rand(n_test,var_count)*100
    noise = np.random.rand(n_train,var_count)*scale

    values_test = np.array([
        [np.random.normal(0,noise[row,col]) for col in range(var_count)]
    for row in range(n_test)]) + to_add

    values_test = np.hstack([values_test,f(to_add)])

    test_data = pd.DataFrame(values_test,columns=variable_names+['y'])
    test_data.to_csv(test_name+'.csv',index=False)
    test_data_s = pd.DataFrame(noise,columns=variable_names)
    test_data_s.to_csv(test_name_s+'.csv',index=False)
test_data.head()

          one         two      three        four           y
0 -107.256299   60.061757  28.965129   54.570607  438.580854
1   83.978451   81.371389  25.772055 -110.016447  997.414075
2   93.571740   -3.718165  70.874560  106.938959  650.973245
3  228.895308   98.733903  76.821336 -120.448105  896.403867
4  140.720945  140.563937 -11.208338   13.577596  284.435248